@* @section Scripts *@
@* { *@
    <script src="/lib/signalr/signalr.js"></script>
    <script src="/lib/signalr/signalr.min.js"></script>

    <script>


        var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7227/SignalRHub").build();

        // Connection, Start olduktan sonra
        connection.start().then(() => {

		var x = document.getElementById("notif-center");
		var notification = document.getElementById("notification");
            // Hub sınıfından gelen metodlar/yanıtlar
            connection.on("NotificationBooking", function () {
				let a = `
					<a href="#">
						<div class="notif-icon notif-primary"> <i class="la la-exclamation"></i> </div>
						<div class="notif-content">
							<span class="block">
								Yeni Bir Rezervasyon Var
							</span>
						</div>
					</a>
				`;
				x.insertAdjacentHTML("afterbegin", a)
				notification.classList.add("notification");
            });

            connection.on("NotificationMessage", function () {
				let a = `
					<a href="#">
						<div class="notif-icon notif-primary"> <i class="la la-exclamation"></i> </div>
						<div class="notif-content">
							<span class="block">
								Yeni Bir Mesaj Var
							</span>
						</div>
					</a>
				`;
				x.insertAdjacentHTML("afterbegin", a)
				notification.classList.add("notification");
            });

        }).catch((err) => { console.log(err) });

		document.getElementById("readOk").addEventListener("click", function(){
			document.getElementById("notification").classList.remove("notification");
		});

    </script>
@* } *@

	<div class="main-header">
		<div class="logo-header">
			<a href="#" class="logo">Ready Dashboard</a>
			<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
		</div>
		<nav class="navbar navbar-header navbar-expand-lg">
			<div class="container-fluid">
				<ul class="navbar-nav topbar-nav align-items-center">
					<li class="nav-item dropdown hidden-caret">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="la la-bell"></i>
							<span class="" id="notification"></span>
						</a>
						<ul class="dropdown-menu notif-box" aria-labelledby="navbarDropdown">
							<li>
								<div class="notif-center" id="notif-center">
									<a href="#">
										<div class="notif-content" style="padding-left: 10px;">
											<span class="block">
												Okunmamış Bildirim Bulunmuyor.
											</span>
										</div>
									</a>
									<a href="#">
										<div class="notif-content" id="readOk" style="padding-left: 10px;">
											<span class="block">
												Okundu İşaretle
											</span>
										</div>
									</a>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</div>

