@model List<ResultAboutDto>

@if (Model.Any())
{
    <section class="about_section layout_padding">
        <div class="container  ">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="img-box">
                        <img src="@Model[0].AboutImage" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>@Model[0].AboutTitle</h2>
                        </div>
                        <p>@Model[0].AboutDescription</p>
                        <a asp-controller="About" asp-action="Index">Daha Fazla...</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
}