@model CreateSliderDto
@{
    ViewData["Title"] = "SliderCreate";
    Layout = "_LayoutAdmin";
}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Slider Ekle</div>
                    </div>
                    <div class="card-body">
                        <form asp-controller="Slider" asp-action="SliderCreate" method="post">
                            <div class="form-group">
                                <label for="SliderTitle">Başlık</label>
                                <input type="text" class="form-control" asp-for="SliderTitle" id="SliderTitle">
                            </div>
                            <div class="form-group">
                                <label for="SliderSubTitle">Alt Başlık</label>
                                <input type="text" class="form-control" asp-for="SliderSubTitle" id="SliderSubTitle">
                            </div>
                            <div class="form-group">
                                <label for="SliderLink">Link</label>
                                <input type="text" class="form-control" asp-for="SliderLink" id="SliderLink">
                            </div>
                            <div class="form-group">
                                <label for="SliderImage">Resim</label>
                                <input type="text" class="form-control" asp-for="SliderImage" id="SliderImage">
                            </div>
                            <div class="form-group">
                                <label for="SliderStatus">Durum</label>
                                <select class="form-control" asp-for="SliderStatus" id="SliderStatus">
                                    <option disabled selected>Seçiniz</option>
                                    <option value="True">Açık</option>
                                    <option value="False">Kapalı</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success" type="submit">Kaydet</button>
                                <a class="btn btn-light ml-2" asp-controller="Slider" asp-action="SliderList">Geri</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>