@model List<ResultTestimonialDto>
@{
    ViewData["Title"] = "TestimonialList";
    Layout = "_LayoutAdmin";
    int count = 0;
}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Deneyimleyen Listesi</div>
                    </div>
                    <div class="card-body">
                        @if (Model.Any())
                        {
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Ad Soyad</th>
                                        <th scope="col" colspan="2"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.TestimonialFullname</td>
                                            <td><a class="btn btn-info" asp-controller="Testimonial" asp-action="TestimonialUpdate" asp-route-id="@item.TestimonialId"><i class="la la-pencil"></i></a></td>
                                            <td><a class="btn btn-danger" asp-controller="Testimonial" asp-action="TestimonialDelete" asp-route-id="@item.TestimonialId"><i class="la la-trash"></i></a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        } else
                        {
                            <div class="alert alert-warning" role="alert">Öge mevcut değil</div>
                        }
                        <hr>
                        <a class="btn btn-success" asp-controller="Testimonial" asp-action="TestimonialCreate">Yeni</a>
                    </div>
                </div>
            </div>
        </div>
    </div>