@model GetByIdTableDto
@{
    ViewData["Title"] = "TableUpdate";
    Layout = "_LayoutAdmin";
}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Masa Güncelle</div>
                    </div>
                    <div class="card-body">
                        <form asp-controller="Table" asp-action="TableUpdate" method="post">
                            <input type="hidden" asp-for="TableId">
                            <div class="form-group">
                                <label for="TableTitle">Başlık</label>
                                <input type="text" class="form-control" asp-for="TableTitle" id="TableTitle">
                            </div>
                            <div class="form-group">
                                <label for="TableStatus">Durum</label>
                                <select class="form-control" asp-for="TableStatus" id="TableStatus">
                                    <option disabled selected>Seçiniz</option>
                                    <option value="True">Açık</option>
                                    <option value="False">Kapalı</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="TableColor">Renk</label>
                                <input type="text" class="form-control" asp-for="TableColor" id="TableColor">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success" type="submit">Kaydet</button>
                                <a class="btn btn-light ml-2" asp-controller="Table" asp-action="TableList">Geri</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>