    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <section class="book_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>Rezervasyon Oluştur</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form_container">
                        <form>
                            <div>
                                <input type="text" class="form-control" id="bookingFullname" placeholder="Ad Soyad" />
                            </div>
                            <div>
                                <input type="text" class="form-control" id="bookingPhone" placeholder="Telefon Numarası" />
                            </div>
                            <div>
                                <input type="email" class="form-control" id="bookingMail" placeholder="Email" />
                            </div>
                            <div>
                                <select class="form-control nice-select wide" id="bookingPersonCount">
                                    <option value="" disabled selected>Kişi Sayısı</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div>
                                <input type="date" id="bookingDate" class="form-control">
                            </div>
                            <div class="btn_box">
                                <button type="button" id="btnCreate">Oluştur</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="map_container ">
                        <iframe src="@ViewBag.mapUrl" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="/lib/signalr/signalr.js"></script>
    <script src="/lib/signalr/signalr.min.js"></script>
    <script>
        $("#btnCreate").click(function () {
            let bookingValues = {
                BookingFullname: $("#bookingFullname").val(),
                BookingPhone: $("#bookingPhone").val(),
                BookingMail: $("#bookingMail").val(),
                BookingPersonCount: $("#bookingPersonCount").val(),
                BookingDate: $("#bookingDate").val()
            };
            console.log(bookingValues.BookingPersonCount);
            
            $.ajax({
                type: "post",
                url: "/Booking/BookignCreateClient/",
                data: bookingValues,
                success: function (func2) {
                    let result = jQuery.parseJSON(func2);
                    $("#bookingFullname").val("");
                    $("#bookingPhone").val("");
                    $("#bookingMail").val("");
                    $("#bookingPersonCount").val("");
                    $("#bookingDate").val("");

                    Swal.fire({
                        position: "center",
                        icon: "success",
                        html: "Rezervasyonunuz alınmıştır. En kısa sürede dönüş sağlayacağız.",
                        showConfirmButton: false,
                        timer: 1500
                    });

                    var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7227/SignalRHub").build();

                    connection.start().then(() => {
                        connection.invoke("SendBookingCount");
                    }).catch((err) => { console.log(err) });
                }
            });
        });
    </script>