@model List<ResultTableDto>
@{
    ViewData["Title"] = "TableListBox";
    Layout = "_LayoutAdmin";
}

    <div class="container-fluid">
        <div class="row">

            @foreach (var item in Model)
            {
                <a asp-controller="TableOrder" asp-action="TableOrderDetail" asp-route-tableId="@item.TableId" asp-route-tableTitle="@item.TableTitle" class="col-md-3">
                    <div class="card card-stats card-warning">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <i class="la la-clone"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">@item.TableTitle</p>
                                        <h4 class="card-title" id="categoryCount"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            }

        </div>
    </div>